body {
    font-family: 'Josefin Sans', 'Tenor Sans', 'Averia Libre', 'Quantico', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#wrap {
    width: 90%;
    max-width: 800px; /*Adjust this to fit your content better */
    margin: 0 auto;
    padding: 1.25rem; /* 20px converted to rem */
    background: #f4f4f4;
    /* box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); 10px converted to rem */
}

#header {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
    padding-bottom: 1.25rem; /* 20px converted to rem */
    border-bottom: 0.125rem solid #ddd; /* 2px converted to rem */
}

#header_content {
    flex: 1;
    margin-right: 1.25rem; /* 20px converted to rem */
}

.name {
    font-size: 2.5rem; /* Adjusted font size */
    font-weight: bold;
}

.affiliate {
    font-size: 1.2rem; /* Adjusted font size */
    color: #555;
}

#header_picture img {
    border-radius: 50%;
    width: 12.5rem; /* 200px converted to rem */
    height: 12.5rem; /* 200px converted to rem */
}

#intro {
    margin-top: 1.25rem; /* 20px converted to rem */
    font-size: 1.2rem; /* Adjusted font size */
}

.subsection {
    font-size: 2rem; /* Adjusted font size */
    font-weight: bold;
    margin-top: 2.5rem; /* 40px converted to rem */
}

.publication {
    display: flex;
    align-items: flex-start;
    margin-top: 1.25rem; /* 20px converted to rem */
    border-bottom: 1px solid #ddd;
    padding-bottom: 1.25rem;
}

.publication img.icon {
    width: 150px; /* Adjusted width to match style */
    height: auto; /* Auto height to maintain aspect ratio */
    margin-right: 1.25rem; /* 20px converted to rem */
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adding shadow for better visual */
}

.publication_content {
    flex: 1;
}

.pub_title {
    font-size: 1.3rem; /* Adjusted font size */
    font-weight: bold;
    color: #800000; /* Dark red color to match style */
    text-decoration: none;
}

.authors {
    font-size: 1.2rem; /* Adjusted font size */
    color: #b80808; /* Dark red color to match style */
}

.authors a {
    color: #b80808; /* Dark red color for links */
    text-decoration: none;
}

.authors a:hover {
    text-decoration: underline;
}

.conf {
    font-size: 1rem; 
    color: #333;
}

.description {
    font-size: 1rem; 
    color: #555;
    margin-top: 0.5rem; 
}

#header_picture {
    position: relative;
}

#play-button {
    position: absolute;
    top: 40%; 
    left: 21%; 
    transform: translate(-50%, -50%);
    background: none; 
    border: none; 
    cursor: pointer; 
}

#play-button img {
    width: 30px; 
    height: auto; 
}



